<!-- start custom head snippets -->

<link
    rel="icon"
    type="image/png"
    href="/bits-and-pieces/assets/images/favicon-48x48.png"
    sizes="48x48"
/>
<link
    rel="icon"
    type="image/svg+xml"
    href="/bits-and-pieces/assets/images/favicon.svg"
/>
<link rel="shortcut icon" href="/bits-and-pieces/assets/images/favicon.ico" />
<link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/bits-and-pieces/assets/images/apple-touch-icon.png"
/>
<meta name="apple-mobile-web-app-title" content="MyWebSite" />
<link rel="manifest" href="/bits-and-pieces/assets/images/site.webmanifest" />

<!-- end custom head snippets -->
